
#ember-app {
  padding-top: 00px;  /*change to 40px when deploying, change to 0px when in ember-cli mode */
}

.pager{
    position:absolute;
    left:-50px;
}

/*
 *= require jquery.ui.autocomplete
 *= require vendor
 *= require scoped_search
 *= require multi-select
 *= require_self
 *= require_tree .
 */


/*if upstream */
/*
*//*else*/

@import "downstream/application";
@import "downstream/mixin";
@import "downstream/bootstrap_and_overrides";
@import "downstream/charts";
@import "downstream/colors";
@import "downstream/topbar";
@import "downstream/typography";
@import "downstream/wizard";
@import "custom"; /*overwrites some wizard stuff*/

/*
@import "katello";

*/
/*@import "other";*/
