.wizard li {
  padding: 10px 12px 10px;
  margin-right: 5px;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
  display: inline-block;
}
.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}
.wizard a:first-child .badge {
  margin-left: 0;
}
.wizard .active {
  color: #007ACC !important;
}
