
<div class="row">
  <div class='col-md-12'>

    <h1> Add Hypervisors </h1>

    {{#each hypervisors as |hypervisor|}}
        {{hyp-input hypervisor=hypervisor
                    deploymentId=model.id
                    action='deleteHypervisor'
                    action2="routeActionThis"
                    action3="routeActionThis"}}
    {{/each}}
    <button {{action 'addAnotherHypervisor'}}>Add Another</button>

    <hr>
    <br />
    <button {{action 'saveAllHypervisors'}}>Save all</button>


  </div>
</div>
