<div class='row'>
  <div class='col-md-6 env-summary-title'>
    Environment Summary
    <div class='pull-right'>
      Node Count: {{numNodes}}
    </div>
  </div>

</div>
<div class='row'>
  <div class='col-md-6 env-summary-body'>
    Resources needed:
    <div class='pull-right'>
      Resources available:
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-6 env-summary-progressbars'>
      {{ose-summary-needed-available label='vCPU' needed=vcpuNeeded available=vcpuAvailable storageSize=storageSize}}
      {{ose-summary-needed-available label='RAM' needed=ramNeeded available=ramAvailable suffix='GB' storageSize=storageSize}}
      {{ose-summary-needed-available label='Disk' needed=diskNeeded available=diskAvailable suffix='GB' storageSize=storageSize}}
  </div>
</div>
