<div class='row' style='background-color: #eee;'>
  <div class='col-md-3'>
    Environment Summary
  </div>
  <div class='col-md-3' style='text-align: right;'>
    Node Count
  </div>
</div>
<div class='row'>
  <div class='col-md-3'>
    Resources needed:
  </div>
  <div class='col-md-3' style='text-align: right;'>
    Resources available
  </div>
</div>
