{{#pf-modal-base}}

      {{pf-modal-header title=title}}

      {{#pf-modal-body}}
          {{yield}}
      {{/pf-modal-body}}

      {{#pf-modal-footer}}
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      {{/pf-modal-footer}}

{{/pf-modal-base}}