<div class="form-group {{if hasError 'has-error'}}">
{{input class=cssFormClass value=value placeholder=placeholder type=typeInput focus-out="showValidationErrors" id=cssId disabled=disabled autocomplete='off'
maxlength="250" class='form-control ose-custom-input'}}

{{#if showValidationError}}
  {{#each validationMessages as |message|}}
      <p class="error errorForValidation">{{message}}</p>
  {{/each}}
{{/if}}
</div>
