<br />
<h1>Deployments <span style='float:right;'>{{#link-to 'rhci' class='btn btn-success'}}New Deployment{{/link-to}}</span>
</h1>

<br />

<table class="table table-bordered table-striped small">
  <thead>
    <tr>
      <th> Name </th>
      <th> Environment </th>
      <th> Organization </th>
    </tr>
    </thead>

  <tbody>
  {{#each deployment in controller.model itemController="deployment"}}
    <tr>
      <td> {{#link-to 'single-deployment' deployment}} {{deployment.name}} {{/link-to}}</td>
      <td> {{deployment.lifecycle_environment.name}} </td>
      <td> {{deployment.organization.name}} </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
