<div class='req-section'>

  <p class='req-title'>General</p>

  <p>
    <i class="fa fa-square-o req-checkbox"></i>Red Hat Customer Portal username and password
  </p>
  <p>
    <i class="fa fa-square-o req-checkbox"></i><a href="https://access.redhat.com/management/subscriptions" target="_blank">Sufficient subscriptions</a> to complete this deployment
  </p>
  <p><i class="fa fa-square-o req-checkbox"></i>Host machines are started and discoverable</p>
  <p><i class="fa fa-square-o req-checkbox"></i>Networks and subsets are set up and available</p>

</div>