<div class='req-section'>

  <p class='req-title'>Red Hat OpenStack Platform</p>

  <p>
    <i class="fa fa-square-o req-checkbox"></i>IP address to the undercloud that was set up according to the instructions found in Installing Red Hat Cloud Infrastructure (<a href="#" target="_blank">docs</a>)
  </p>
  <p>
    <i class="fa fa-square-o req-checkbox"></i>
    2 nodes (1 controller, 1 compute). Each node requires 100GB disk space, 16GB RAM, and 4 CPUs
  </p>
  <p>
    <i class="fa fa-square-o req-checkbox"></i>
    All node hardware clocks are synchronized with the hardware clock on the Satellite system
  </p>

</div>