{{#wizard-step outlet=outlet}}

isDisconnected = {{isDisconnected}}

      {{#link-to 'subscriptions.credentials' tagName='li' disabled=disableTabCredentials}}
        <a>{{stepNumberSubscriptions}}A. Red Hat Login</a>
      {{/link-to}}

      {{#unless isDisconnected}}
          {{#link-to 'subscriptions.management-application' tagName='li' disabled=disableTabManagementApplication}}
            <a>{{stepNumberSubscriptions}}B. Subscription Management Application</a>
          {{/link-to}}
      {{/unless}}

      {{#link-to 'subscriptions.select-subscriptions' tagName='li' disabled=disableTabSelectSubsciptions}}
        <a>{{stepNumberSubscriptions}}C. Add Subscriptions</a>
      {{/link-to}}

{{/wizard-step}}
