<h1>Master</h1>

  {{view Ember.Select content=applicationModes value=modeLetter prompt="Select one that you like" class="form-control"}}

  <button {{action 'showMyfriend'}} class='btn btn-primary'>Submit</button>
{{modeLetter}}
